kind: Secret
apiVersion: v1
metadata:
  name: {{ .Values.appName }}
  namespace: "{{ .Values.namespace }}"
data:
  WORDPRESS_PASSWORD: {REDACTED}
  WORDPRESS_DATABASE_HOST: {REDACTED}
  WORDPRESS_DATABASE_NAME: {REDACTED}
  WORDPRESS_DATABASE_PORT_NUMBER: MzMwNg==
  WORDPRESS_DATABASE_USER: {REDACTED}
  WORDPRESS_TABLE_PREFIX: {REDACTED}
  OVERRIDE_HEALTH: TlVMTA==
  WHO_AM_I: R09MRA==
  WORDPRESS_DATABASE_PASSWORD: {REDACTED}
  WORDPRESS_USERNAME: {REDACTED}
type: Opaque
