OBJECT_STORE_ACCESS_KEY_ID={redacted}
OBJECT_STORE_ACCESS_SECRET={redacted}
OBJECT_STORE_BACKUP_BUCKET={redacted}
OBJECT_STORE_URL={redacted}
OBJECT_STORE_MEDIA_BUCKET={redacted}
OBJECT_STORE_REGION=us-east-1
OBJECT_STORE_USER_ACCOUNT={redacted}
